@font-face {
    font-family: "DM Sans";
    src: url("./fonts/DMsans/DMSans-Medium.woff"),
        url("./fonts/DMsans/DMSans-Medium.woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "DM Sans";
    src: url("./fonts/DMsans/DMSans-Bold.woff"),
        url("./fonts/DMsans/DMSans-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Codystar";
    src: url("./fonts/codystar/Codystar.woff"),
        url("./fonts/codystar/Codystar.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
